@import './variables.scss';
@import './mixing.scss';


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container {
    max-width: 1140px;
    margin: 0 auto;
    padding: 0 30px;
}
body {
    background-color: $second-background-color;
    overflow-x: hidden;
}
.container1{
    max-width: 720px;
    margin: 0 auto;
    padding: 0 30px;
}
@import './all-blocks/all-blocks';