.boxslider {
    display: flex;
    align-items: center;
    justify-content: center;
  
    padding: 48px 0;
}
.carousel-item {
    background-color: #ffff;
    max-width: 800px;
    min-height: 489px;
    padding: 20px 0 0 30px;
}
.slider {
    padding-top: 50px;
}